body{
    /*width: 80%;*/
    /*text-align: left;*/
    /*padding:0 20px;*/
    background-color: #e3dee5;
}

article{
    text-align: left;
    max-width: 80%;
}

img{
    /*width: 100%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featurette-image{
    width:100%;
}

#NASDAQapp{
    width: 100%;
}

#tribute_page{
  width:100%;
}

#old_next_sticker{
  width:100%;
}

footer{
    text-align: center;
}

#gitthis{
  font-size:30px;
}
#submit{
  text-align: center;
}
#emailform{
  margin: 0 auto;
  text-align: center;
}
#sayhi{
  background-color: #E2E2E2;
}
#email{
  text-align: center;
  background-color: #D7FEBD
}
.carousel-control, .glyphicon{
    background-color: #e3dee5 !important;
    color: white;
    width: 0%;
    /*opacity: 1 !important;*/
}

.carousel-control.left{
  margin-left: 25px;
}

.carousel-control.right{
  margin-right: 25px;
}






